@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
/*    Quicksand font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/*    Quicksand font */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  padding: 0 4.8rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header .logo {
  height: 3rem;
  color: #0f36a5;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  z-index: 8;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000181;
  transition: all 0.3s;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */

/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-bottom: 20px;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }

  .header .logo {
    width: 60%;
  }
}
.hero-h1 {
  font-size: 5rem;
  width: 45vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  padding-left: 100px;
  padding-top: 100px;
  color: black !important;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .hero-h1 {
    width: 60vw;
  }
  .hero {
    width: 100%;
    height: auto;
    background-image: url(img/vector-4.png);
    background-repeat: no-repeat;
    background-position: 500px;
    background-color: #f4f5fa;
  }
}
@media (max-width: 900px) {
  .hero-h1 {
    width: 80vw;
  }
  .hero {
    width: 100%;
    height: auto;
    background-image: url(img/vector-4.png);
    background-repeat: no-repeat;
    background-position: 100px;
    background-color: #f4f5fa;
  }
}
.onoffswitch3 {
  margin-top: 3px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch3-checkbox {
  display: none;
}

.onoffswitch3-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #999999;
  border-radius: 0px;
}

.onoffswitch3-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
  padding-left: 10px;
  background-color: transparent;
  color: #fff8f8;
}

.onoffswitch3-inner .onoffswitch3-inactive {
  width: 100px;
  padding-left: 16px;
  background-color: #eeeeee;
  color: #ffffff;
  text-align: right;
}

.onoffswitch3-switch {
  display: block;
  width: 50%;
  margin: 0px;
  text-align: center;
  border: 0px solid #999999;
  border-radius: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
  background: #0f36a5;
  left: 0;
  width: 160px;
}
.onoffswitch3-inactive {
  background: #a1a1a1;
  right: 0;
  width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
  margin-left: 0;
}

.glyphicon-remove {
  padding: 3px 0px 0px 0px;
  color: #fff;
  background-color: #000;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  border: 2px solid #fff;
}

.scroll-text {
  color: #000;
}

.hero {
  width: 100%;
  height: auto;
  background-image: url(img/vector-4.png);
  background-repeat: no-repeat;
  background-position: 700px;
  background-color: #f4f5fa;
  z-index: -1;
}
@media (max-width: 600px) {
  .hero {
    width: 100%;
    height: auto;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f4f5fa;
  }
  .hero-h1 {
    font-size: 5rem;
    width: 100%;
    padding-left: 5px;
    text-align: center;
    color: black !important;
    padding-top: 100px;
    z-index: 1;
  }
}
.serch-box {
  padding-top: 15vh;
  padding-bottom: 10vh;
}
.form-control-borderless {
  border: none;
}
.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


/*  catagory style */
.catagory-area {

position: relative;
padding-bottom: 100px;
}
.catagory-area h2 {
  font-size: 5rem;
  width: 100%;
  padding-left: 5px;
  text-align: center;
  color: black !important;
  padding-top: 50px;
  padding-bottom: 50px;
}

.catagory-col {
 
  height: 200px;
  margin-top: 70px;

}
.catagory-col .div {

  background-color: #f4f5fa;
    height: 100%;
  width: 100%;
box-shadow: #b0c5fd 1.50px 1.50px 1.6px; 
}

 .c-icon {
  width: 50px;
  height:50px;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left:40%;
  cursor: none;
}
.c-taitle .t {
  font-size:1.7rem;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  padding-top: 30px;
  padding-left: 10px;
  color: #0F36A5;
  cursor: pointer;
}
.c-text .p {
  font-size:1.2rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  padding:10px ;
  cursor: pointer;
}

.job {
  height:auto;
  background-color: #F4F5FA;
 padding-top:100px ;
 padding-bottom:100px ;
  width: auto;
}
.job h2 {
  font-size: 5rem;
  width: 100%;
  padding-left: 5px;
  text-align: center;
  color: black !important;

  padding-bottom: 50px;
}
/*
.j-col {
  background-color: #ffffff;

  margin: 15px;
  
 
}
.j-c-taital {
  font-size:1.6rem;
  font-weight: 600;
}
.j-c-span {
  font-size:1.4rem;
  font-weight: 400;
}
.j-col img {
  width:150px;
  height:auto;
  margin: 0 auto;
  margin-left: 25%;
}

.j-c-btnbox {
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding-bottom: 50px;
  padding-top: 30px;
}

.j-c-btnbox p {
  background-color:#9FD2D6;
  padding:1px;
  font-size:9px;
  font-weight:bold ;
}

.j-c-btnbox a {
  text-decoration: none;
  font-weight: bold;
  background-color: #0F36A5;
  color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 12px;
}
.j-c-btnbox a :hover {
  color: aliceblue;

}
  */


ul.job-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.job-list > li.job-preview {
	background: #fff;
	border: 1px solid #d7e2e9;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	border-radius: 0.4rem;
	padding: 1.5rem 2rem;
	margin-bottom: 1rem;
	float: left;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

ul.job-list > li.job-preview:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 3px 8px rgba(0,0,0,0.05);
	box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.job-title {
	margin-top: 0.6rem;
}

.company {
	color: #96a4b1;
}

.job-preview .btn {
	margin-top: 1.1rem;
}

.btn-apply {
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight:bold;
	letter-spacing: 1px;
	background-color: #000181;
	color:#fff ;
	border: 2px solid #393a5f;
	padding: 0.6rem 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	border-radius: 2rem;
}

.btn-apply:hover {
	background-color: #8286ff;
	color:  #fff;
	border: 2px solid #393a5f;
}

@media (max-width: 575px) {
	.job-preview .content {
		width: 100%;
	}
}

.site-footer
{
  background-color: #F4F5FA;
margin-top:100px;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#000181;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#1443ff
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:hwb(207 96% 0%);
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}